.btn {
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
    color: #fff;
}
.msg {
    text-align: center;
    line-height: 88px;
}
a {
    text-decoration-line: none;
    color: #abc1ee;
}

.control-group {
    font-size: larger;
    padding: 20px;
}

.control-label {
    color:10px black;
}