.msg {
    text-align: center;
    line-height: 88px;
}
a {
    text-decoration-line: none;
    color: #abc1ee;
}

.control-group {
    font-size: larger;
    padding: 20px;
}

.control-label {
    color:10px black;
}