/* Table Head */
table th {
    text-align: center;
    background-color: rgb(81, 130, 187);
    color: #fff;
    border-bottom-width: 0;
    border-collapse: collapse;
    }
    
    /* Column Style */
    table td {
    border: solid #000;
    color: #000;
    }
    /* Heading and Column Style */
    table tr, table th {
    border: 3px solid #000;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    }
    
    /* Padding and font style */
    table td, table th {
    padding: 5px 10px;
    font-size: larger;
    font-family: Verdana;
    font-weight: bold;
    }
table td{
    padding: 20px 30px;
}

/* .btn {
    text-align: center;
    padding: 10px;
    width: 100px;
    margin-top: 10px;
} */