<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/simplebar.css">
        <link rel="stylesheet" href="../static/css/addproduct.css">
        <!-- Main styles for this application-->
        <link href="../static/css/style.css" rel="stylesheet">
        <!-- We use those styles to show code examples, you should remove them in your application.-->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css"> -->
        <link href="../static/css/examples.css" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics-->
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    </head>
    <body>
        <!-- 左边的部分 -->
        <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
            <div class="sidebar-brand d-none d-md-flex">
                <img src="{{ url_for('static', filename = 'assets/img/foodIcon.png') }}" class="sidebar-brand-full" height="60" alt="CoreUI Logo">未名餐饮后台管理系统
              </div>
            <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
                <li class="nav-group"><a class="nav-link" href="{{ 'userinfo' }}">
                    <img src="{{ url_for('static', filename = 'assets/brand/catergory.svg') }}" class="nav-icon">
                    所有人员信息</a>
                </li>
                <li class="nav-group"><a class="nav-link" href="{{ 'userlayout' }}">
                    <img src="{{ url_for('static', filename = 'assets/brand/root.svg') }}" class="nav-icon">
                    修改用户信息</a>
                </li>
                <li class="nav-group"><a class="nav-link" href="{{ 'foodmanage' }}">
                    <img src="{{ url_for('static', filename = 'assets/brand/menu.svg') }}" class="nav-icon">
                    菜单信息</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ 'addproduct' }}">
                    <img src="{{ url_for('static', filename = 'assets/brand/product.svg') }}" class="nav-icon">
                    上传菜单</a></li>
                <li class="nav-group"><a class="nav-link" href="{{ 'ordermanage' }}">
                    <img src="{{ url_for('static', filename = 'assets/brand/order.svg') }}" class="nav-icon">
                    订单管理</a></li>
            </ul>
        </div>
        <!-- 右边的部分 -->
        <div class="wrapper d-flex flex-column min-vh-100 bg-light">
            <!-- 右边头顶部件 -->
            <header class="header header-sticky mb-4">
                <form method="post" action="/admin/logout" enctype="multipart/form-data">
                    <button class="btn btn-warning" type="submit"><span class="cil-contrast btn-icon mr-2"></span>登出</button>
                </form>
            </header>
            <!-- 图表部分 -->
            <form method="post" action="/admin/addmenu" enctype="multipart/form-data">
                <div class="body flex-grow-1 px-3">
                    <legend>菜品信息管理</legend>
                    <div class="control-group">
                        <label class="input-group" style="float:left">菜品名称：</label>
                        <input id="input_id" type="text" class="form-control w-25" name="name" placeholder="input the name">
                    </div>
                    <div class="control-group">
                        <label class="input-group" style="float:left">菜品金额（单点）：</label>
                        <input id="input_id" type="text" class="form-control w-25" name="price" placeholder="input the price">
                    </div>
                    <div class="control-group">
                        <label class="control-label">类别：</label>
                        {% for i in categorys %}
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name = 'radio_catergory' value="{{ categorys[i].id }}"
                                       {% if i == 0 %}checked="checked"{% endif %}>
                                {{ categorys[i].name }}
                            </label>
                        {% endfor %}
                    </div>
                    <div class="control-group">
                        <label class="control-label"  style="float:left">饭堂：</label>
                        <select class='form-select w-25' id="select_canteen" name="canteen">
                            {% for i in resturant %}
                                {% if i != 0 %}
                                    <option value="{{ resturant[i].id }}">{{ resturant[i].name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="control-group">
                        <label class="input-group">上传菜品照片：</label>
                        <input type="file" class="form-control w-25" name="file" accept=".png, .jpg, .jpeg">
                    </div>  
                    <div class="submit_btn" style="display: block;">
                        <button class="btn btn-info" type="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- CoreUI and necessary plugins-->
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.6.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'node_modules/@coreui/coreui/dist/js/coreui.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'node_modules/simplebar/dist/simplebar.min.js') }}"></script>
        <!-- Plugins and scripts required by this view-->
        <script type="text/javascript" src="{{ url_for('static', filename = 'node_modules/chart.js/dist/chart.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'node_modules/@coreui/utils/dist/coreui-utils.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    </body>
</html>

