<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/simplebar1.css">
        <link rel="stylesheet" href="../static/css/simplebar.css">
        <!-- Main styles for this application-->
        <link href="../static/css/style.css" rel="stylesheet">
        <!-- We use those styles to show code examples, you should remove them in your application.-->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pris,mjs@1.23.0/themes/prism.css"> -->
        <link href="../static/css/examples.css" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics-->
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    </head>
    <body>
        <!-- 左边的部分 -->
        <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
            <div class="sidebar-brand d-none d-md-flex">
                <img src="{{ url_for('static', filename = 'assets/img/foodIcon.png') }}" class="sidebar-brand-full" height="60" alt="CoreUI Logo">未名餐饮后台管理系统
              </div>
            <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
                <li class="nav-item"><a class="nav-link" href="originalAdmin.html">
                    <img src="{{ url_for('static', filename = 'assets/brand/conclude.svg') }}" class="nav-icon">
                    汇总信息</a></li>
                <li class="nav-group"><a class="nav-link" href="{{ 'userinfo' }}">
                    <img src="{{ url_for('static', filename = 'assets/brand/catergory.svg') }}" class="nav-icon">
                    所有人员信息</a>
                </li>
                <li class="nav-group"><a class="nav-link" href="{{ 'userlayout' }}">
                    <img src="{{ url_for('static', filename = 'assets/brand/root.svg') }}" class="nav-icon">
                    修改用户信息</a>
                </li>
                <li class="nav-group"><a class="nav-link" href="{{ 'foodmanage' }}">
                    <img src="{{ url_for('static', filename = 'assets/brand/menu.svg') }}" class="nav-icon">
                    菜单信息</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ 'addproduct' }}">
                    <img src="{{ url_for('static', filename = 'assets/brand/product.svg') }}" class="nav-icon">
                    上传菜单</a></li>
                <li class="nav-group"><a class="nav-link" href="{{ 'ordermanage' }}">
                    <img src="{{ url_for('static', filename = 'assets/brand/order.svg') }}" class="nav-icon">
                    订单管理</a></li>
            </ul>
        </div>
        <!-- 右边的部分 -->
        <div class="wrapper d-flex flex-column min-vh-100 bg-light">
            <!-- 右边头顶部件 -->
            <header class="header header-sticky mb-4">
                <form method="post" action="/admin/logout" enctype="multipart/form-data">
                    <button class="btn btn-warning" type="submit"><span class="cil-contrast btn-icon mr-2"></span>登出</button>
                </form>
            </header>
        </div>
        <!-- CoreUI and necessary plugins-->
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.6.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'node_modules/@coreui/coreui/dist/js/coreui.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'node_modules/simplebar/dist/simplebar.min.js') }}"></script>
        <!-- Plugins and scripts required by this view-->
        <script type="text/javascript" src="{{ url_for('static', filename = 'node_modules/chart.js/dist/chart.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'node_modules/@coreui/chartjs/dist/js/coreui-chartjs.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'node_modules/@coreui/utils/dist/coreui-utils.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/admin.js') }}"></script>
    </body>
</html>

