{% extends 'userLayout.html' %}

{% block title %}
    欢迎用户{{ username }}
{% endblock title %}

{% block body %}
    <div class="MainContainer">
        <h1 class="text-danger m-3 fw-bold">提交反馈</h1>
        <div class="w-100 mt-5 mb-3">
            <div class="dropdown">
              <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  选择餐厅
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  {% for i in resturant %}
                      <li><a class="dropdown-item" href="#">{{ i }}</a></li>
                  {% endfor %}
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
        </div>
        <textarea placeholder="输入反馈留言" id="feedBackComment" class="form-control mt-5 mb-3" style="height: 20vh" aria-label="With textarea"></textarea>
    </div>
{% endblock body %}

{% block script%}
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/userProfileJs.js') }}"></script>
{% endblock script %}