<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap-table.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename = 'css/font-awesome.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename = 'css/myCss.css') }}">
</head>
<body>
    {% block Modal %}
    {% endblock %}

    <div class="modal fade" id="CarModal" tabindex="-1" aria-labelledby="CarModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollabl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="CarModalLabel">你的购物车</h5>
            <button id="carModalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="ModalCarBody">

          </div>
            <div class="modal-footer">
                <div class="d-flex flex-column w-100">
                    <textarea placeholder="输入留言" id="comment" class="form-control mb-3" aria-label="With textarea"></textarea>
                    <div class="d-flex flex-row">
                        <h5 id="sumPrice" class="me-auto text-primary"></h5>
                        <button id="createOrder" type="button" class="btn btn-danger">结帐</button>
                    </div>

                </div>

              </div>
        </div>
      </div>
    </div>


    <div class="Main shadow">
        <div class="headerDisplay">
            <img style="height:5vh" src="{{ url_for('static', filename = 'assets/img/foodIcon.png') }}"/>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger fw-bold">
            <div class="container-fluid">
                <a class="navbar-brand">未名餐饮平台</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav me-auto">
                        {% for i in navComponent %}
                            <a class="nav-link {% if navComponent[i][1] == True %}
                                                active" aria-current="page"
                                                {% else %}
                                                "
                                                {% endif %}
                            href="{{ navComponent[i][2] }}">{{ navComponent[i][0] }}</a>
                        {% endfor %}

                    </div>
                    <span class="me-3">积分：{{ point }} 等级：{{ level }}(还差{{ lm }}升级)</span>
                    <button id="logout" type="button" class="btn btn-sm btn-outline-light">登出</button>
                </div>
            </div>
        </nav> 
        {% block body %}
        
        {% endblock body %}
    </div>
    <button id="carObjBtn" type="button" class="btn btn-light position-fixed bottom-0 end-0 mb-5 me-5 rounded-pill" data-bs-toggle="modal" data-bs-target="#CarModal">
        <img style="width: 15px;height: 15px" src="{{ url_for('static', filename = 'assets/img/shoppingCar.png') }}" />
        <span id="carObj" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none">

        </span>
    </button>

    <script type="text/javascript" src="{{ url_for('static',filename = 'js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/tableExport.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap-table-locale-all.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap-table-export.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/bootstrap-table-zh-CN.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/userFunc.js') }}"></script>
    {% block script %}
        
    {% endblock script %}
</body>
</html>