{% extends 'userLayout.html' %}

{% block title %}
    欢迎用户{{ username }}
{% endblock title %}


{% block body %}
    <div class="MainContainer">
        <h1 class="text-danger m-3 fw-bold">历史订单记录</h1>
        <div class="shadow w-100 p-3">
            <table
                data-pagination = "true"
                id="historyTable">
            </table>
        </div>

    </div>
{% endblock body %}

{% block script%}
    <script type="text/javascript" src="{{ url_for('static',filename = 'js/userHistoryJs.js') }}"></script>
{% endblock script %}